[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = "*"
fastapi-cors="*"
gradio = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn --app-dir src main:app --reload"
