[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = "*"
fastapi-cors="*"
gradio = "*"
openai = "*"
langchain = "*"
langchain-openai = "*"

[dev-packages]
black = "*"
python-semantic-release="*"
enforce-git-message="*"

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn --app-dir src main:app --reload"
format = "python -m black src"
version = "semantic-release --noop version --print"
release = "sh -c 'semantic-release version && git fetch origin main'"
